albumentations==1.3.1
beautifulsoup4==4.12.2
earthengine_api==0.1.370
epiweeks==2.2.0
pandas
Pillow
rename
setuptools
scikit-image
seaborn
geemap
plotly
python-dotenv
opencv-python
ipywidgets
missingno
ydata-profiling
scikit-learn
umap-learn
urllib3
pytrends
timm
gdown
tensorflow
